@import './normalize.css';

:root {
    --text-color-white: rgba(255, 255, 255, 1);
    --background-color-grey: rgba(255, 255, 255, 0.5);
    --background-color-black: rgba(0, 0, 0, 1);
    --background-color-black-transparent: rgba(0, 0, 0, 0.8);
    --background-color-purple: rgba(117, 27, 92, 1);
    --background-color-purple-hover: rgb(125, 24, 184);
    --background-color-grey: rgba(34, 34, 34, 1);
    --background-color-light-grey: rgba(255, 255, 255, 0.5);
    --color-error:rgb(255, 0, 0);
}
