.backgroundImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/login-bg.jpg");
  filter: blur(1px);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between; 
  padding: 10px;
  background: var(--background-color-black-transparent);
  height: 394px;
  border-radius: 23px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formTitle {
  color: var(--text-color-white);
  margin-bottom: 1.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center; 
  width: 100%;
}

.formText {
  color: var(--text-color-white);
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}

@media (min-width: 768px) {
  .formContainer {
    left: auto;
    right: 120px; 
    transform: translateY(-50%);
  }
}
.formText:hover {
    text-decoration: underline;
    opacity: 0.7;
  }