.navbar {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid; 
  place-items: center; 
  background: var(--background-color-light-grey);
  cursor: pointer;
  margin: 10px 20px;
}

.logoutButton {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 40;
}

.circle:hover .logoutButton {
  display: block;
}