.homeClientContainer {
  background-color: var(--background-color-grey);
  position: relative;
}

.sliderContainer {
  position: relative;
}

.noMoviesMessage {
  color: var(--text-color-white);
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  padding: 20px;
}