.movie-slider {
    display: flex;
    overflow-x: scroll;
  }
  
  .movie-item {
    margin: 10px;
    flex: 0 0 auto;
  }
  
  .movie-item img {
    width: 150px;
    height: 225px;
    object-fit: cover;
  }