.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 343px;
    gap: 10px; 
  }
  
  .loginForm input {
    width: 327px;
    padding: 10px;
    border: 1px solid var(--background-color-purple);
    border-radius: 8px;
    color: var(--text-color-white);
    font-weight: bolder;
    background-color: var(--background-color-black);
  }
  
  .loginForm button {
    width: 348px;
    padding: 10px;
    background-color: var(--background-color-purple);
    color: var(--text-color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .loginForm button:hover {
    background-color: var(--background-color-purple-hover);
    transform: scale(1.02); 
  }
  
  .error {
    color: var(--color-error);
    font-size: 14px;
  }